#phoneticHelper-popup{
    display: none;
    position: fixed;
    z-index: 9999;

    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
}
.ph-span{
    cursor: pointer;
}
.ph-span:hover{
    outline: 1px solid rgba(0, 0, 0, 0.3);
}